* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Arial;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;


}



.p1_nav_div_style {
  /* position: sticky; */
  /* position:fixed; */
  /* top: 8px; */
  /* width: 240px; */
  /* float: left; */
  height: 100vh;
  background-color: #f2f3f7;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
}

.photo_wrapper {
  /* background-image: url("../image/my.jpg"); */
  width: 145px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50%;
}

.phone_img {
  width: 145px;
  height: 150px;
  border-radius: 50%;
}

.nav_style {
  line-height: 2;
  letter-spacing: 1px;
  
}
.nav_style li {
  list-style-type: none;
}
.nav_listStyle{
   padding-left: 10px;
}

.p1_nav_div_style a,
.offcanvas-body a {
  text-decoration: none;
  color: #48484a;
  font-family: sans-serif;
}

.p1_nav_div_style a:hover,
.offcanvas-body a:hover {
  text-decoration-line: underline;
  color: #46a5f1;
}

.p1_nav_div_style a:active,
.offcanvas-body a:active {
  text-decoration-line: underline;

  color: red;
}

.copyright_style {
  color: gray;
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
}

.p1_main_div_style {
  background-color: white;
  margin-left: 300px;
}

.p1_main_div_style hr {
  width: 100%;
}



.home_wrapper_style {
  min-height: 90vh;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
  display: flex;
  align-items: center;
}

.home_id_portfolio {
  /* display: block; */
  border: 3px double black;
  padding: 10px;
  display: inline;
}

#home_id a {
  text-decoration: none;
  color: black;
}

#home_id a:hover {
  text-decoration: none;
  color: #2c98f0;
  text-shadow: 0px 0px 5px #2c98f0;
}

.main_item_wrapper {

  min-height: 90vh;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: gray;
  display: flex;
  align-items: center;
}



.main_item_wrapper_1 {
  width: 100%;
}

.main_item_head_1 {
  letter-spacing: 5px;
}

.main_item_head_2 {
  letter-spacing: 5px;
  color: #2c98f0;
  font-family: 'Times New Roman', Times, serif
}


.education_item_head {
  background-color: #f2f3f7;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  padding: 15px;
  transition: background-color 0.5s, color 0.5s;
  transition-timing-function: ease;
}

.education_item_head_display {
  background-color: #2c98f0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  padding: 15px;
}


.education_item_head:hover {
  background-color: #2c98f0 !important;
  color: white !important;
}

.education_item_content {
  border: 1px solid #e6e6e6;
  margin-top: 5px;
  margin-bottom: 5px;
  /* display: none; */

}


.education_item_content_display {
  border: 1px solid #e6e6e6;
  margin-top: 5px;
  margin-bottom: 5px;
}


.experience_item {
  background-color: #f2f3f7;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.experience_item_head {
  color: black;
  font-size: larger;
  font-weight: bold;
}

.experience_item_head span {
  color: gray;
  font-size: 0.8rem;
}


.contact_item {

  padding: 15px;
}

.contact_id_table {
  padding: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contact_form {
  clear: both;
  display: flex;
  align-items: center;
  text-align: right;
}

.contact_form_input {
  width: 90%;
  line-height: 2;
  font-size: 1rem;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #f2f3f7;
}

.contact_form_submit {
  width: fit-content;
  background-color: #2c98f0;
  color: white;
  font-size: 0.8rem;
  font-family: Arial;
}

.contact_id_table td {

  padding-top: 10px;
  padding-bottom: 10px;

}

.contact_id_table a {
  text-decoration: none;

}


.mete1_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete1_class meter {
  width: 100%;
}

.mete1_class meter::-webkit-meter-optimum-value {
  background: blue;
}

.mete1_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: red;
}

.mete1_class meter::before {
  /* content : "Java 85%"; */
  content: "Java " attr(value);
}

/*------------------------------------------ d */

.mete2_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete2_class meter {
  width: 100%;
}

.mete2_class meter::-webkit-meter-optimum-value {
  background: rgb(245, 85, 85);
}

.mete2_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: rgb(245, 85, 85)
}

.mete2_class meter::before {
  content: "C language " attr(value);
}

/*------------------------------------------ d */

.mete3_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete3_class meter {
  width: 100%;
}

.mete3_class meter::-webkit-meter-optimum-value {
  background: #f9bf3f;
}

.mete3_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: #f9bf3f;
}

.mete3_class meter::before {
  content: "HTML " attr(value);
}

/*------------------------------------------ d */

.mete4_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete4_class meter {
  width: 100%;
}

.mete4_class meter::-webkit-meter-optimum-value {
  background: #a84cb8;
}

.mete4_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: #a84cb8;
}

.mete4_class meter::before {
  content: "CSS " attr(value);
}

/*------------------------------------------ d */

.mete5_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete5_class meter {
  width: 100%;
}

.mete5_class meter::-webkit-meter-optimum-value {
  background: #2fa499;
}

.mete5_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: #2fa499;
}

.mete5_class meter::before {
  content: "Database " attr(value);
}

/*------------------------------------------ d */

.mete6_class {
  color: #000;
  flex: 50;
  padding: 10px;

}

.mete6_class meter {
  width: 100%;
}

.mete6_class meter::-webkit-meter-optimum-value {
  background: #4054b2;
}

.mete6_class meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: #4054b2;
}

.mete6_class meter::before {
  content: "Operating system " attr(value);
}




.labworks_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.labworks_item {
  width: 150px;
  text-align: center;
  margin: 20px;
}

.labworks_item_thumbnail {
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  overflow: hidden;
  height: 100px;
  overflow: hidden;
}

.labworks_item_thumbnail:hover {
  border: 1px solid #46a5f1;
  box-shadow: 2px 2px 5px #46a5f1;
  overflow: hidden;
}



.labworks_item_thumbnail_txt a {
  color: gray;
  text-decoration: none;
}

.labworks_item_thumbnail_txt a:hover {
  color: #46a5f1;
  text-decoration-line: underline;
}


@media all and (max-width: 768px) {
  .p1_nav_div_style {
    display: none;
  }

  .p1_main_div_style {
    margin-left: 0px;
  }



}

@media all and (max-width: 1200px) {

  .contact_id_table {
    padding: 15px;
    display: block;

  }

  .contact_form {
    clear: both;
    display: flex;
    align-items: center;
    text-align: left;
  }
}